<!DOCTYPE html>
<html lang="en" ng-app="miAplicacionAngular">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Clase 8 - Metodos</title>
	<style>
		input,hr,button{display: block; margin:10px 0;}
	</style>
</head>
<body>

<div ng-controller="miControlador">
	<input type="text" ng-model="valor1">
	<input type="text" ng-model="valor2">
	<button ng-click="sumar()">Sumar</button>
	<button ng-click="multiplicar()">Multiplicar</button>
	<hr>
	<p>
		{{resultado}}
	</p>
</div>

<script src="../js/angular.min.js"></script>
<script src="./js/miScript.js"></script>
</body>
</html>